.tableCell-1{
    background-color:yellow;
}

.tableCell-2 {
    background-color: brown;
}

.tableCell-3 {
    background-color: Highlight;
}


.tableCell-4 {
    background-color: forestgreen;
}

.tableCell-5 {
    background-color: mediumvioletred;
}